:root {
    --accent: #00477f;
    --lightaccent: #0091ff;
	--light: #ffffff;
	--dark: #000000;
    --shade: #6f6f6f;;
    --lightshade: #afafaf;
}

body {
	margin: 0;
    font-size: 12px;
    width: 200px;
}

header {
	display: flex;
	justify-content: space-between;
    background: var(--accent);
    color: var(--light);
    line-height: 30px;
    font-size: 14px;
    padding: 0px 5px;
}

 	#headline {
        font-weight: 500;
	}

	#feedback a {
        color: var(--light);
        font-size: 17px;
        text-decoration: none;
	}

#settings {
    width: 140px;
    margin: 20px auto;
}

.toggle {
    margin: 5px 0px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--lightshade);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: var(--light);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--accent);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--accent);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  .name {
    margin-left: 40px;
    margin-top: -14px;
    white-space: nowrap;
  }

#button {
    text-align: center;
}

button {
    color: var(--light);
    background-color: var(--accent);
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}